# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.env.local
.venv/
env/
venv/
ENV/

# VS Code / IDE settings
.vscode/
.idea/

# Database files
*.sqlite3
*.db

# Temporary / Scratch
tmp/
scratch/
mock_output/
